@charset "UTF-8";

@font-face {
  font-family: "fonturn";
  src:url("fonts/fonturn.eot");
  src:url("fonts/fonturn.eot?#iefix") format("embedded-opentype"),
    url("fonts/fonturn.woff") format("woff"),
    url("fonts/fonturn.ttf") format("truetype"),
    url("fonts/fonturn.svg#fonturn") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fonturn" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fonturn" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav-inventory:before {
  content: "\61";
}
.icon-nav-team:before {
  content: "\62";
}
.icon-nav-messages:before {
  content: "\64";
}
.icon-grid-mode:before {
  content: "\65";
}
.icon-list-mode:before {
  content: "\68";
}
.icon-search:before {
  content: "\6d";
}
.icon-eye:before {
  content: "\76";
}
.icon-eye-alt:before {
  content: "\77";
}
.icon-up-open:before {
  content: "\78";
}
.icon-up-open-mini:before {
  content: "\79";
}
.icon-down-open:before {
  content: "\7a";
}
.icon-down-open-mini:before {
  content: "\41";
}
.icon-left-open:before {
  content: "\42";
}
.icon-left-open-mini:before {
  content: "\43";
}
.icon-right-open:before {
  content: "\44";
}
.icon-right-open-mini:before {
  content: "\45";
}
.icon-folder:before {
  content: "\4f";
}
.icon-casepack:before {
  content: "\50";
}
.icon-attention:before {
  content: "\51";
}
.icon-attention-circled-line:before {
  content: "\52";
}
.icon-attention-circled:before {
  content: "\53";
}
.icon-key:before {
  content: "\55";
}
.icon-camera-circled:before {
  content: "\57";
}
.icon-info:before {
  content: "\56";
}
.icon-info-circled:before {
  content: "\58";
}
.icon-update-password-alt:before {
  content: "\59";
}
.icon-placeholder-company:before {
  content: "\32";
}
.icon-placeholder-item:before {
  content: "\33";
}
.icon-placeholder-item-inverted:before {
  content: "\34";
}
.icon-placeholder-item-line:before {
  content: "\35";
}
.icon-placeholder-user:before {
  content: "\36";
}
.icon-refresh:before {
  content: "\39";
}
.icon-cloud-upload:before {
  content: "\21";
}
.icon-eyedropper:before {
  content: "\23";
}
.icon-location:before {
  content: "\24";
}
.icon-phone-1:before {
  content: "\25";
}
.icon-compass:before {
  content: "\26";
}
.icon-user-add:before {
  content: "\28";
}
.icon-user-disable:before {
  content: "\29";
}
.icon-team:before {
  content: "\2b";
}
.icon-user:before {
  content: "\2c";
}
.icon-picture-user:before {
  content: "\2d";
}
.icon-pencil:before {
  content: "\2e";
}
.icon-flash:before {
  content: "\2f";
}
.icon-at:before {
  content: "\3a";
}
.icon-at-circled:before {
  content: "\3b";
}
.icon-at-alt-1:before {
  content: "\3c";
}
.icon-send:before {
  content: "\3d";
}
.icon-envelope:before {
  content: "\3e";
}
.icon-twitter:before {
  content: "\3f";
}
.icon-facebook:before {
  content: "\40";
}
.icon-pinterest:before {
  content: "\5b";
}
.icon-linkedin:before {
  content: "\5d";
}
.icon-instagram:before {
  content: "\5e";
}
.icon-globe:before {
  content: "\5f";
}
.icon-nav-connections:before {
  content: "\60";
}
.icon-nav-offers:before {
  content: "\7b";
}
.icon-share:before {
  content: "\2a";
}
.icon-nav-logout:before {
  content: "\7d";
}
.icon-add-images:before {
  content: "\e001";
}
.icon-manage-permissions:before {
  content: "\e004";
}
.icon-tag:before {
  content: "\e006";
}
.icon-add-role:before {
  content: "\e007";
}
.icon-gears-setting:before {
  content: "\6a";
}
.icon-refresh-reload:before {
  content: "\38";
}
.icon-adjust:before {
  content: "\e00a";
}
.icon-more-vertical:before {
  content: "\e00c";
}
.icon-print-file:before {
  content: "\e00d";
}
.icon-download-file:before {
  content: "\e00e";
}
.icon-view-more:before {
  content: "\e00f";
}
.icon-nav-company:before {
  content: "\63";
}
.icon-lock:before {
  content: "\5a";
}
.icon-unlock:before {
  content: "\30";
}
.icon-link-external:before {
  content: "\e010";
}
.icon-requested:before {
  content: "\e011";
}
.icon-clock:before {
  content: "\e012";
}
.icon-placeholder-icon:before {
  content: "\e013";
}
.icon-drag-excel:before {
  content: "\46";
}
.icon-new-name-edit:before {
  content: "\e014";
}
.icon-duplicate-role:before {
  content: "\e015";
}
.icon-checkmark:before {
  content: "\72";
}
.icon-edit-permissions:before {
  content: "\37";
}
.icon-eyedropper-disabled:before {
  content: "\7c";
}
.icon-filter:before {
  content: "\5c";
}
.icon-filter-full:before {
  content: "\e000";
}
.icon-nav-buyers:before {
  content: "\e002";
}
.icon-style-group:before {
  content: "\e003";
}
.icon-transfer-to-user:before {
  content: "\e005";
}
.icon-view-permissions:before {
  content: "\e009";
}
.icon-listing-updated:before {
  content: "\e016";
}
.icon-listing-closed:before {
  content: "\e017";
}
.icon-counter-offer:before {
  content: "\e00b";
}
.icon-envelope-2:before {
  content: "\e018";
}
.icon-invoice-receipt:before {
  content: "\e019";
}
.icon-upload-spreadsheet:before {
  content: "\e008";
}
.icon-attention-alt:before {
  content: "\e01a";
}
.icon-close:before {
  content: "\e01b";
}
.icon-close-small:before {
  content: "\e01c";
}
.icon-create-listing:before {
  content: "\31";
}
.icon-nav-listing:before {
  content: "\7e";
}
.icon-listing-accepted:before {
  content: "\e01d";
}
.icon-listing-no-answer:before {
  content: "\e01e";
}
.icon-minus-circled:before {
  content: "\66";
}
.icon-minus:before {
  content: "\69";
}
.icon-minus-big:before {
  content: "\6c";
}
.icon-minus-small:before {
  content: "\67";
}
.icon-plus-big:before {
  content: "\6e";
}
.icon-plus:before {
  content: "\70";
}
.icon-plus-circled:before {
  content: "\71";
}
.icon-plus-small:before {
  content: "\6f";
}
.icon-check-circled:before {
  content: "\73";
}
.icon-check:before {
  content: "\74";
}
.icon-close-big:before {
  content: "\47";
}
.icon-close-circled:before {
  content: "\48";
}
.icon-grid-mode-alt:before {
  content: "\6b";
}
.icon-list-mode-alt:before {
  content: "\75";
}
.icon-item:before {
  content: "\49";
}
.icon-units:before {
  content: "\4a";
}
.icon-update:before {
  content: "\4b";
}
.icon-back-in-time:before {
  content: "\4c";
}
.icon-allocate:before {
  content: "\4d";
}
.icon-percentage-sign:before {
  content: "\4e";
}
.icon-archive-box:before {
  content: "\54";
}
.icon-chart-pie:before {
  content: "\e01f";
}
.icon-plus-smally:before {
  content: "\e020";
}
.icon-minus-medium:before {
  content: "\e021";
}
.icon-close-smally:before {
  content: "\e022";
}
.icon-calendar:before {
  content: "\e023";
}
.icon-clock-1:before {
  content: "\e024";
}
.icon-alarm-bell:before {
  content: "\e025";
}
.icon-alarm-no:before {
  content: "\e026";
}
.icon-snooze-alarm:before {
  content: "\e027";
}
.icon-wrong-file:before {
  content: "\e028";
}
.icon-upload-folder:before {
  content: "\e029";
}
.icon-restricted:before {
  content: "\e02a";
}
.icon-chart-part-section:before {
  content: "\e02b";
}
.icon-check-list:before {
  content: "\e02c";
}
.icon-duplicate:before {
  content: "\e02d";
}
.icon-compare:before {
  content: "\e02e";
}
.icon-update-number:before {
  content: "\e02f";
}
.icon-refresh-spin:before {
  content: "\e030";
}
.icon-bar-colums-two-1:before {
  content: "\e031";
}
.icon-bar-colums-two-2:before {
  content: "\e032";
}
.icon-check-col:before {
  content: "\e033";
}
.icon-download-2:before {
  content: "\e034";
}
.icon-alert-file:before {
  content: "\e035";
}
.icon-images:before {
  content: "\e036";
}
.icon-help-support:before {
  content: "\e037";
}
.icon-folder-add:before {
  content: "\e038";
}
.icon-folder-alert:before {
  content: "\e039";
}
.icon-folder-good:before {
  content: "\e03a";
}
.icon-folder-denied:before {
  content: "\e03b";
}
.icon-download-folder-2:before {
  content: "\e03c";
}
.icon-folder-edit:before {
  content: "\e03d";
}
.icon-folder-favorite:before {
  content: "\e03e";
}
.icon-folder-delete:before {
  content: "\e03f";
}
.icon-folder-secure:before {
  content: "\e040";
}
.icon-left-left:before {
  content: "\e041";
}
.icon-right-right:before {
  content: "\e042";
}
.icon-user-bubble:before {
  content: "\e043";
}
.icon-user-favorite:before {
  content: "\e044";
}
.icon-user-thief:before {
  content: "\e045";
}
.icon-user-decline:before {
  content: "\e046";
}
.icon-user-attention:before {
  content: "\e047";
}
.icon-user-add-1:before {
  content: "\e048";
}
.icon-user-add-2:before {
  content: "\e049";
}
.icon-user-accept:before {
  content: "\e04a";
}
.icon-user-remove:before {
  content: "\e04b";
}
.icon-user-lock:before {
  content: "\e04c";
}
.icon-yen-sign:before {
  content: "\22";
}
.icon-yen-coin:before {
  content: "\27";
}
.icon-trashcan:before {
  content: "\e04d";
}
.icon-connections:before {
  content: "\e04e";
}
.icon-connection-request-received:before {
  content: "\e051";
}
.icon-connection-request-sent:before {
  content: "\e052";
}
.icon-logo:before {
  content: "\e04f";
}
.icon-image:before {
  content: "\e050";
}
.icon-archive-box-down:before {
  content: "\e055";
}
.icon-archive-box-up:before {
  content: "\e056";
}
.icon-growth-chart:before {
  content: "\e057";
}
.icon-new-sign:before {
  content: "\e058";
}
.icon-sell-sign:before {
  content: "\e059";
}
.icon-calculator-2:before {
  content: "\e05a";
}
.icon-coins-stacked:before {
  content: "\e05b";
}
.icon-coins-dollar:before {
  content: "\e05c";
}
.icon-credit-card:before {
  content: "\e05d";
}
.icon-add-archive:before {
  content: "\e05e";
}
.icon-all-reply:before {
  content: "\e05f";
}
.icon-arrow-forward:before {
  content: "\e060";
}
.icon-clip-paper-1:before {
  content: "\e061";
}
.icon-chain-link-3:before {
  content: "\e062";
}
.icon-zoom-in:before {
  content: "\e063";
}
.icon-zoom-out:before {
  content: "\e064";
}
.icon-accept-check-file:before {
  content: "\e053";
}
.icon-edit-folder-1:before {
  content: "\e054";
}
.icon-filled-delete-folder:before {
  content: "\e065";
}
.icon-filled-folder-1:before {
  content: "\e066";
}
.icon-filled-folder-secure:before {
  content: "\e067";
}
.icon-delete-folder-1:before {
  content: "\e068";
}
.icon-add-folder-1:before {
  content: "\e069";
}
.icon-stack-files-documents:before {
  content: "\e06a";
}
.icon-text-word-file:before {
  content: "\e06b";
}
.icon-polaroid:before {
  content: "\e06c";
}
.icon-polaroids-1:before {
  content: "\e06d";
}
.icon-polaroids-2:before {
  content: "\e06e";
}
.icon-picture-1:before {
  content: "\e06f";
}
.icon-picture-2:before {
  content: "\e070";
}
.icon-pictures:before {
  content: "\e071";
}
.icon-gear-setting:before {
  content: "\e072";
}
.icon-gears-setting-1:before {
  content: "\e073";
}
.icon-gear-setting-3:before {
  content: "\e074";
}
.icon-preferences-setting:before {
  content: "\e075";
}
.icon-wrench:before {
  content: "\e076";
}
.icon-download-1:before {
  content: "\e077";
}
.icon-computer-download-to:before {
  content: "\e078";
}
.icon-tags:before {
  content: "\e079";
}
.icon-spaceship:before {
  content: "\e07a";
}
.icon-save:before {
  content: "\e07b";
}
.icon-save-floppy:before {
  content: "\e07c";
}
.icon-save-download:before {
  content: "\e07d";
}
.icon-discover:before {
  content: "\e07e";
}
.icon-load-c:before {
  content: "\e07f";
}
.icon-keyboard:before {
  content: "\e080";
}
.icon-alt-key-1:before {
  content: "\e081";
}
.icon-alt-key-2:before {
  content: "\e082";
}
.icon-enter-key-1:before {
  content: "\e083";
}
.icon-enter-key-2:before {
  content: "\e084";
}
.icon-delivery-transport-2:before {
  content: "\e085";
}
.icon-delivery-trolley:before {
  content: "\e086";
}
.icon-cart-shopping-1:before {
  content: "\e087";
}
.icon-book-note-2:before {
  content: "\e088";
}
.icon-briefcase-trolley:before {
  content: "\e089";
}
.icon-buy-sign:before {
  content: "\e08a";
}
.icon-calculator-1:before {
  content: "\e08b";
}
.icon-calculator-math:before {
  content: "\e08c";
}
.icon-full-package-trolley:before {
  content: "\e08d";
}
.icon-dollar-sign-1:before {
  content: "\e08e";
}
.icon-dollar-sign-2:before {
  content: "\e08f";
}
.icon-signature-bill-business:before {
  content: "\e090";
}
.icon-letter-mail-open:before {
  content: "\e091";
}
.icon-article:before {
  content: "\e092";
}
.icon-book-rings:before {
  content: "\e093";
}
.icon-fullscreen-3:before {
  content: "\e094";
}
.icon-down-scale-3:before {
  content: "\e095";
}
.icon-close-4:before {
  content: "\e096";
}
.icon-plus-3:before {
  content: "\e097";
}
.icon-arrow-up-4:before {
  content: "\e098";
}
.icon-camera-1:before {
  content: "\e099";
}
.icon-bar-three-colums:before {
  content: "\e09a";
}
.icon-bar-colums-two-3:before {
  content: "\e09b";
}
.icon-center-colums:before {
  content: "\e09c";
}
.icon-date:before {
  content: "\e09d";
}
.icon-big-favorite-heart:before {
  content: "\e09e";
}
.icon-down:before {
  content: "\e09f";
}
.icon-up:before {
  content: "\e0a0";
}
.icon-left:before {
  content: "\e0a1";
}
.icon-right:before {
  content: "\e0a2";
}
.icon-flag-in-wind:before {
  content: "\e0a3";
}
.icon-minimize:before {
  content: "\e0a4";
}
.icon-maximize:before {
  content: "\e0a5";
}
.icon-expand:before {
  content: "\e0a6";
}
.icon-thumbtack-fill:before {
  content: "\e0a7";
}
.icon-download:before {
  content: "\e0a8";
}
